.slideShow {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideShow linear infinite 5s;
  animation-duration: 30s;
  animation-delay: 5s;
  display: flex;
  justify-content: center;
  align-items: center;

  animation-timing-function: linear;
  background-image: url("https://source.unsplash.com/random");
}

@keyframes slideShow {
  0% {
    background-image: url("https://source.unsplash.com/random/1");
  }
  25% {
    background-image: url("https://source.unsplash.com/random/2");
  }

  50% {
    background-image: url("https://source.unsplash.com/random/3");
  }
  75% {
    background-image: url("https://source.unsplash.com/random/4");
  }
  100% {
    background-image: url("https://source.unsplash.com/random/5");
  }
}
