.artist-work-container {
    width:100vw;
    background-color: whitesmoke;
}


.MuiImageList-root.MuiImageList-standard.css-uym98a-MuiImageList-root {

    width:auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

ul.MuiImageList-root.MuiImageList-standard.css-uym98a-MuiImageList-root {
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

.title-artistwork {
    background-color: whitesmoke;
    font-family: 'Rampart One', Arial, Helvetica, sans-serif;
    
}

.title-artistwork-h1 {
    background-color: whitesmoke;
    font-family: 'Rampart One', Arial, Helvetica, sans-serif;
    text-align: center;
}