.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-logo-div {
  width: 80%;
  height: 300px;
  margin-left: 10%;
  background-color: gray;
  border-radius: 30px 30px 0px 0px;
}

#logo {
  height: 80%;
  width: 80%;
  margin-top: 2.5%;
  margin-left: 10%;
  /* object-fit: contain; */
}
.map-container {
  width: 80%;
  height: 50vh;
  margin-left: 10%;
}

#event-image-id {
  height: 50%;
  width: 80%;
  margin-left: 10%;
}

.form-check {
  text-align: right;
}
.content-div {
  width: 80%;
  margin-left: 10%;
  background-color: grey;
}
.eventPageDiv {
  background-color: gray;
  border-radius: 25px;
}

.description-div {
  margin-left: 10%;
  margin-right: 10%;
}

.event-header-div {
  margin-left: 10%;
  margin-right: 10%;
  width: 30%;
  display: inline-block;
}

#event-check{
  margin-left: 45%;
}

.form-check {
  width: 30%;
  text-align: center;
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  background-color: grey;
}

.adress-div {
  background-color: grey;
  align-items: center;
}

.event-map-header {
  margin-left: 10%;
}





#root {
  background-color: whitesmoke;
}


